{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "rules": {
        "semi": ["error", "never"]
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [
              ".js",
              ".jsx"
            ]
          }
        }
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "env": {
        "browser": true
    }
}