@import 'react-redux-toastr/src/styles/index';

.drop-zone {
  width: 100%;
  border-radius: 6px;
  border: 2px dashed #888;
  cursor: pointer;
}
.drop-zone-label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 40px;
  font-size:18px;
  color: #888;
}

.search-bar-wrapper {
  margin: 10px 0;
}

.main {
  width: 500px;
  margin: auto;
  padding-top: 20px;
}

.storage-list .info {
  display: block;
  text-align: center;
  font-style: italic;
  color: #999;
  padding-top: 60px;
}

.list-item {
  display: flex;
  vertical-align: middle;
  padding: 20px 5px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  .list-item-edit {
    display: flex;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    button {
      margin: 0 10px;
      width:60px;
    }
  }
  .list-item-label {
    line-height: 34px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    & :hover{
      text-decoration: underline;
    }
  }
  &:last-child{
    border-bottom: none;
  }
}
